<header class="family-header">
  <div class="family-header__inner">
    <a class="family-header__brand" href="https://talkstation.co.kr/?location=introduce_tsedu" aria-label="Talkstation Academy 소개">
      <img class="family-header__brand-image" src="{{ROOT_PREFIX}}assets/tsa-logo.png" alt="TSA Talkstation Academy">
      <span class="family-header__brand-text">TALKSTATION ACADEMY</span>
    </a>
    <nav class="family-menu" aria-label="TS 프로그램">
      <ul class="family-menu__list">
        <li class="family-menu__item"><a class="family-menu__link" href="https://talkstation.co.kr/?location=introduce_tsedu">TS 소개</a></li>
        <li class="family-menu__item"><a class="family-menu__link" href="https://talkstation.co.kr/?location=introduce_talkstation">토크스테이션</a></li>
        <li class="family-menu__item"><a class="family-menu__link" href="https://talkstation.co.kr/?location=introduce_idichomeschool">아이딕홈스쿨</a></li>
        <li class="family-menu__item"><a class="family-menu__link" href="https://talkstation.co.kr/?location=introduce_idicenglish">아이딕잉글리쉬</a></li>
        <li class="family-menu__item"><a class="family-menu__link family-menu__link--active" href="#top" aria-current="page">TSA Cebu</a></li>
      </ul>
    </nav>
  </div>
</header>
